.App {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.detectOnClick {
  z-index: 0;
  position: relative;
}

#eyewear-image {
  position: absolute;
}

.button {
  margin-bottom: 25px;
  text-align: center;
  padding: 5px 20px;
}

#image {
  height: 868px;
  width: 695px;
}
